⠀⠀⠀⠀⠀⢀⣴⣶⣦⡄⢀⣀⣀⣀⣀⣀⢀⣴⣶⣦⣄⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⣿⣿⣿⠟⠉⠀⠀⠀⠀⠀⠀⠉⠛⢿⣿⣿⡄⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠙⠿⠁⠀⣠⣤⡄⠀⠀⢠⣤⣄⠀⠈⢿⠟⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠇⠀⢸⣿⣿⠳⣶⣶⡞⢿⣿⡇⢠⣼⢶⢶⣤⡀⠀⠀
⠀⠀⢀⣾⣿⣿⣿⣦⠈⠛⠋⠐⠤⠣⠀⠘⠛⠁⢿⡽⠛⠛⣼⡇⠀⠀
⠉⠉⠙⠿⢿⣿⡿⠟⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉

# Pandas 

Pandas are cute bears, and also the name of a powerful Python library for working with datasets, making it an essential tool in any data scientist’s toolkit.

Use cases:
- Work with tabular data and heterogenous data
- Cleaning messy datasets 

## Why it matters 
Data scientists spend 60–80% of their time cleaning and organizing data. This may seem excessive until you consider why. If you have bad “garbage” data, your analytics and models will produce bad “garbage” results. Garbage in, garbage out.

Pandas helps us with this by providing tools to fix errors, remove duplicates, and handle inconsistencies, all to improve analysis and model performance.

## What we are looking at this week
Before we hop into cleaning, we need to learn the basics of pandas. 
- Seriese, DataFrames, indices axes
- Creating & Accessing Data
- Transforming Data
- Summarizing Data

## What about Numpy?
Don't worry, your had work with Numpy last week will still pay off. Pandas and Numpy are used together, in fact Pandas is built on Numpy. 
- Numpy
  - Numerical 
  - Math
  - Array optomization 
- Pandas
  - Data analysis 
  - Data data manipulation
  - Optomizing tabular data

In [ ]:
# Instalation 
!pip install pandas

In [1]:
#Import 
import pandas as pd
import numpy as np

## Seriese
- One dimensinal array 
- All elements must be the same data type
- Think of it like a column on a table 
- Fixed lengeth 
- Single direction 
- Index Lables if nothing else is specified

In [12]:
# Series
# Default array index will be out Label

nums = pd.Series([1, 2, 3, 4])
print(nums[0])
nums

#Create your own labels
name = ["Angi", "Momo", "Monkey"]
users = pd.Series(name, index = ["H1", "H2" ,"C"])
print(users["C"])
users

1
Monkey

H1      Angi
H2      Momo
C     Monkey
dtype: str

In [16]:
menu_price = pd.Series({
    "Coffee": 2.50,
    "Tea": 1.75,
    "Sandwich": 5.00,
    "Salad": 4.25,
    "Cookie": 1.00
})
print(menu_price["Tea"])
menu_price

1.75

Coffee      2.50
Tea         1.75
Sandwich    5.00
Salad       4.25
Cookie      1.00
dtype: float64

## Values and Index
- .value will return the values in a 2d array
- .index retruns lables

In [18]:
print("Values: ", menu_price.values)
print()
print("Index: ", menu_price.index)

Values:  [2.5  1.75 5.   4.25 1.  ]

Index:  Index(['Coffee', 'Tea', 'Sandwich', 'Salad', 'Cookie'], dtype='str')

## Update 
- .update is used to update a value in a Series

In [19]:
seattle_temperature = pd.Series([49, 49, None, 50, 54])
seattle_temperature.update(pd.Series([49], index=[2]))
seattle_temperature

0    49.0
1    49.0
2    49.0
3    50.0
4    54.0
dtype: float64

In [20]:
seattle_temperature = pd.Series([49, 49, None, 50, 54, None])
seattle_temperature.update(pd.Series([49, 55], index=[2, 5]))
seattle_temperature

0    49.0
1    49.0
2    49.0
3    50.0
4    54.0
5    55.0
dtype: float64

## Updaing index lables
- .rename will update an index lable

In [ ]:
seattle_temperature = pd.Series(
    [48, 50, 49, 47, 51], index=["Mon", "Tue", "Wed", "Thu", "Fri"]
)
seattle_temp_short = seattle_temperature.rename((
    "Mon : M",
    "Tue: T",
    "Wed: W",
    "Thu: T",
    "Fri: F"
))

print("Short Temp", seattle_temp_short)
print()
print("Seattle Temp: ", seattle_temperature)

Short Temp Mon    48
Tue    50
Wed    49
Thu    47
Fri    51
Name: (Mon : M, Tue: T, Wed: W, Thu: T, Fri: F), dtype: int64

Seattle Temp:  Mon    48
Tue    50
Wed    49
Thu    47
Fri    51
dtype: int64

In [ ]:

seattle_temperature = pd.Series(
    [48, 50, 49, 47, 51], index=["Mon", "Tue", "Wed", "Thu", "Fri"]
)
seattle_temp_short = seattle_temperature.rename({
    "Mon: M",
    "Tue: T",
    "Wed: W",
    "Thu: T",
    "Fri: F"
}, inplace=True)

print("Short Temp", seattle_temp_short)
print()
print("Seattle Temp: ", seattle_temperature)

Short Temp M    48
T    50
W    49
T    47
F    51
dtype: int64

Seattle Temp:  Mon    48
Tue    50
Wed    49
Thu    47
Fri    51
dtype: int64

## Your Turn! 
Create a Pandas Series with:
- At least 5 values
- At least 2 missing values (None)
- Clear, meaningful index labels
- Print:
  - The index of the Series
  - The values of the Series
- Update the index labels so they mean something different or are formatted differently. Ex Monday, Tuseday to M, T or Small, Medium to S, M

In [ ]:
years = pd.Series([2015, 2016, None, 2018, None, 2020, 2021], index=["Y1", "Y2", "Y3", "Y4", "Y5", "Y6", "Y7"])
years

Y1    2015.0
Y2    2016.0
Y3       NaN
Y4    2018.0
Y5       NaN
Y6    2020.0
Y7    2021.0
dtype: float64

In [30]:
years.update(pd.Series({ "Y3": 2017, "Y5": 2019 }))
years

Y1    2015.0
Y2    2016.0
Y3    2017.0
Y4    2018.0
Y5    2019.0
Y6    2020.0
Y7    2021.0
dtype: float64

## Data Frames 
Data frames are the most used datastructure provided by pandas. 
- Two-dimensional data structure, like a table, with rows representing records and columns representing features.

In [35]:
walkibility = pd.DataFrame({
    "City": ["Seattle", "Portland", "San Francisco", "Chiraq"],
    "Walkibility": ["High", "Very High", "Medium", "Low"]
})
walkibility

            City Walkibility
0        Seattle        High
1       Portland   Very High
2  San Francisco      Medium
3         Chiraq         Low

In [36]:
data = np.array([
    ["Seattle", "High"],
    ["Portland", "Very High"],
    ["San Francisco", "Medium"],
    ["Chiraq", "Low"]
])
df = pd.DataFrame(data, columns=["City", "Walkibility"])
df

            City Walkibility
0        Seattle        High
1       Portland   Very High
2  San Francisco      Medium
3         Chiraq         Low

In [38]:
cities = pd.Series(["Seattle", "Portland", "San Francisco"])
walkibility = pd.Series(["High", "Very High", "Very High"])

df = pd.DataFrame({
    "City": cities,
    "Walkibility": walkibility
})
df

            City Walkibility
0        Seattle        High
1       Portland   Very High
2  San Francisco   Very High

## Other ways to create DataFrames
- CSV file 
- Excel file
- Json

# Axis 
Like with our np arrays our DF have Axis
- rows axis 0
- columns axis 1

# Indexing 
- DataFrames use indexing in a similar way to Series.

In [40]:

df = pd.DataFrame(
    {
        "Walkability": ["High", "Very High", "High", "Low"],
        "TransitScore": [85, 90, 78, 50],
        "BikeScore": [70, 80, 65, 40]
    })

df.index = ["Seattle", "New York", "Chicago", "Phoenix"]

df

         Walkability  TransitScore  BikeScore
Seattle         High            85         70
New York   Very High            90         80
Chicago         High            78         65
Phoenix          Low            50         40

In [41]:

df = pd.DataFrame(
    {
        "Walkability": [
            "High", "Very High", "High", "Low",
            "High", "Medium", "High"
        ],
        "TransitScore": [
            85, 90, 78, 50,
            60, 55, 65
        ],
        "BikeScore": [
            70, 80, 65, 40,
            85, 70, 80
        ]
    },
    index=[
        "Seattle", "New York", "Chicago", "Phoenix",
        "Portland", "Boulder", "Madison"
    ]
)

df

# Rename can be used to update index values
df.rename(index={"New York": "NYC"}, inplace=True)

df

         Walkability  TransitScore  BikeScore
Seattle         High            85         70
NYC        Very High            90         80
Chicago         High            78         65
Phoenix          Low            50         40
Portland        High            60         85
Boulder       Medium            55         70
Madison         High            65         80

## Accessing data
- Columns
  - bracket notation df["column"]
  - dot notation df.column
- rows
  - By lable df.loc["index lable"]
  - by position df.iloc[0]

In [42]:
print(df["TransitScore"])
print()
print(df.TransitScore)
print()
print(df.loc["Seattle"])
print(df.iloc[0])

Seattle     85
NYC         90
Chicago     78
Phoenix     50
Portland    60
Boulder     55
Madison     65
Name: TransitScore, dtype: int64

Seattle     85
NYC         90
Chicago     78
Phoenix     50
Portland    60
Boulder     55
Madison     65
Name: TransitScore, dtype: int64

Walkability     High
TransitScore      85
BikeScore         70
Name: Seattle, dtype: object
Walkability     High
TransitScore      85
BikeScore         70
Name: Seattle, dtype: object

In [43]:
df["PopulationMillions"] = [0.74, 8.4, 2.7, 1.6, 0.65, 0.11, 0.26]
df

         Walkability  TransitScore  BikeScore  PopulationMillions
Seattle         High            85         70                0.74
NYC        Very High            90         80                8.40
Chicago         High            78         65                2.70
Phoenix          Low            50         40                1.60
Portland        High            60         85                0.65
Boulder       Medium            55         70                0.11
Madison         High            65         80                0.26

## Performing math on columns
DataFrames allow math operations to be performed on a single or entire columns using other columns.

In [45]:
# Single Column
print(df["TransitScore"].sum())

# Multiple Columns
print(df[["TransitScore", "BikeScore"]].sum())

483
TransitScore    483
BikeScore       490
dtype: int64

## Operations on entire columns

In [46]:
df["AvgTransport"] = (df["TransitScore"] + df["BikeScore"]) / 2
print(df["AvgTransport"])

Seattle     77.5
NYC         85.0
Chicago     71.5
Phoenix     45.0
Portland    72.5
Boulder     62.5
Madison     72.5
Name: AvgTransport, dtype: float64

In [ ]:
bike_per_million = df["BikeScore"] / df["PopulationMillions"]
bike_per_million

## Your Turn: DataFrames
Part 1: Create a DataFrame usin gthe following wild fild data
     <!-- 
        "FireName": ["Pine Ridge", "Cedar Creek", "Skyline", "Red Canyon", "Bear Hollow"],
        "State": ["WA", "OR", "CA", "ID", "MT"],
        "AcresBurned": [1200, 5400, 23000, 800, 12750],
        "ContainmentPct": [65, 40, 25, 90, 55],
        "HomesThreatened": [18, 120, 640, 5, 210],
        "Firefighters": [120, 420, 980, 60, 510] -->
Part 2:
  - Show the Achres per firefighter 
  - Add a new column to the DF called uncontained, it should show the % of fire that's not contained, for example if ContainmentPct is 40 uncontained should be 60

In [48]:
#Answer
wildfires = pd.DataFrame(
    {
        "FireName": ["Pine Ridge", "Cedar Creek", "Skyline", "Red Canyon", "Bear Hollow"],
        "State": ["WA", "OR", "CA", "ID", "MT"],
        "AcresBurned": [1200, 5400, 23000, 800, 12750],
        "ContainmentPct": [65, 40, 25, 90, 55],
        "HomesThreatened": [18, 120, 640, 5, 210],
        "Firefighters": [120, 420, 980, 60, 510]
    }
)

# Part 2: Acres per firefighter
acres_per_fire_fighter = (
    wildfires["AcresBurned"] / wildfires["Firefighters"]
)
print(acres_per_fire_fighter)
# Part 2: Uncontained percentage
wildfires["UncontainedPct"] = 100 - wildfires["ContainmentPct"]

print(wildfires)

0    10.000000
1    12.857143
2    23.469388
3    13.333333
4    25.000000
dtype: float64
      FireName State  AcresBurned  ContainmentPct  HomesThreatened  \
0   Pine Ridge    WA         1200              65               18
1  Cedar Creek    OR         5400              40              120
2      Skyline    CA        23000              25              640
3   Red Canyon    ID          800              90                5
4  Bear Hollow    MT        12750              55              210

   Firefighters  UncontainedPct
0           120              35
1           420              60
2           980              75
3            60              10
4           510              45

# Transposing 
- .T will swap the rows and columns

In [49]:
wildfires.T

                          0            1        2           3            4
FireName         Pine Ridge  Cedar Creek  Skyline  Red Canyon  Bear Hollow
State                    WA           OR       CA          ID           MT
AcresBurned            1200         5400    23000         800        12750
ContainmentPct           65           40       25          90           55
HomesThreatened          18          120      640           5          210
Firefighters            120          420      980          60          510
UncontainedPct           35           60       75          10           45

In [50]:
df.T

                   Seattle        NYC Chicago Phoenix Portland Boulder Madison
Walkability           High  Very High    High     Low     High  Medium    High
TransitScore            85         90      78      50       60      55      65
BikeScore               70         80      65      40       85      70      80
PopulationMillions    0.74        8.4     2.7     1.6     0.65    0.11    0.26
AvgTransport          77.5       85.0    71.5    45.0     72.5    62.5    72.5

# Soirting Columns
- .sort_values will sort rows based on a column

In [ ]:
df.sort_values(by="TransitScore", ascending=False)

In [51]:
df.sort_values(by = "BikeScore")

,Walkability,TransitScore,BikeScore,PopulationMillions,AvgTransport
Phoenix,Low,50,40,1.60,45.0
Chicago,High,78,65,2.70,71.5
Seattle,High,85,70,0.74,77.5
Boulder,Medium,55,70,0.11,62.5
NYC,Very High,90,80,8.40,85.0
Madison,High,65,80,0.26,72.5
Portland,High,60,85,0.65,72.5

# Filtering
- Rows can be filtered using logic operators

In [52]:
df[df["TransitScore"] > 80]

        Walkability  TransitScore  BikeScore  PopulationMillions  AvgTransport
Seattle        High            85         70                0.74          77.5
NYC       Very High            90         80                8.40          85.0

In [57]:
# Multiple conditions
df[(df["TransitScore"] > 80) & (df["BikeScore"] > 70)]

    Walkability  TransitScore  BikeScore  PopulationMillions  AvgTransport
NYC   Very High            90         80                 8.4          85.0

In [59]:
df["TransitOverBike"] = df["TransitScore"] > df["BikeScore"]
df

,Walkability,TransitScore,BikeScore,PopulationMillions,AvgTransport,TransitOverBike
Seattle,High,85,70,0.74,77.5,True
NYC,Very High,90,80,8.40,85.0,True
Chicago,High,78,65,2.70,71.5,True
Phoenix,Low,50,40,1.60,45.0,True
Portland,High,60,85,0.65,72.5,False
Boulder,Medium,55,70,0.11,62.5,False
Madison,High,65,80,0.26,72.5,False

In [61]:
df["TransitOverBike"] = df["TransitOverBike"].map({
  True:"Transit",
  False:"Bike"
})
df

,Walkability,TransitScore,BikeScore,PopulationMillions,AvgTransport,TransitOverBike
Seattle,High,85,70,0.74,77.5,Transit
NYC,Very High,90,80,8.40,85.0,Transit
Chicago,High,78,65,2.70,71.5,Transit
Phoenix,Low,50,40,1.60,45.0,Transit
Portland,High,60,85,0.65,72.5,Bike
Boulder,Medium,55,70,0.11,62.5,Bike
Madison,High,65,80,0.26,72.5,Bike

## Your Turn: Filtering 
Complete the following using your wildfire dataframe
- Fires that have burned more than 10,000 acres
- Fires with less than 50% containment
- Fires where more than 100 homes are threatened
- Fires that:
  - Have burned more than 10,000 acres
  - AND have less than 50% containment

AI Transparency Statement
AI tools were used to assist with formatting, grammar and generating example data.