## Data Cleaning

Techniques for cleaning & preparing data

### Learning Outcomes
- how to find & fix missing values
- how to simplify your data
- how to fix data-type problems
- how to work with indexes

In [ ]:
!pip install pandas numpy seaborn matplotlib

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("ODF_Fire_Data.csv")

## Renaming Messy Columns

Convention says:

- Column names should be lowercase.
- Whitespace should be replaced with underscores (snake_case).

## Removing NaN

For the most part, removing NaN values is a good thing because it removes missing data that impacts your analysis.

You must decide whether you are:
- Removing an entire row if it contains a NaN
- Removing columns that contain a large amount of NaN values
- Remove only rows or columns that are completely NaN
Consider
- The amount of data lost
- Does the missing data have meaning
- Should you fill the NaN instead of removing the row completely

## Your Turn: Remove NaN from Your Data

1. Investigate how many NaN values exist in each column.
2. Decide whether you will drop the column, replace the NaN values, or drop the rows containing NaN.
3. Update your dataset so that it contains no remaining NaN values.

## Updating Dates

You must convert your dates from strings into datetime objects.  
This allows you to use built-in date methods and perform time-based calculations.

## Your Turn: Update Your Dates

1. Check the format of your date columns.  
   - If the format is consistent, pass the specific format to `pd.to_datetime`.  
   - If the formats are inconsistent, use `format="mixed"`.
   - https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes
   

2. Convert your date columns using `pd.to_datetime`.

# Matrix linear transformations 
- When muliplying a vector by a matrix, you are applying linear transformation
- This is used in ML, Nerual Networks, and much more.

In [ ]:

matrices = [np.matrix([[0, 1], [1, 0]]), 
            np.matrix([[1, 0], [0, -1]]), 
            np.matrix([[-1, 0], [0, 1]]), 
            np.matrix([[3, 0], [0, 1]]), 
            np.matrix([[1, 0], [0, 3]]), 
            np.matrix([[3, 0], [0, 3]]), 
            np.matrix([[1, 3], [0, 1]]), 
            np.matrix([[1, 0], [3, 1]]), 
            np.matrix([[-1, 0], [0, -1]]), 
            np.matrix([[0, 1], [-1, 0]]), 
            np.matrix([[0, -1], [1, 0]]), ]

# Transpose of a Product - LIVE EVIL
If you transpose a matrix product, the order reverses and every matrix gets transposed.